In [335]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [336]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

for item in high_school_types:
    print(item)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [337]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [338]:
# Add the Pandas dependency.
import pandas as pd

In [339]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [340]:
for item in school_series:
    print(item)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [341]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [342]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [343]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [344]:

# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

In [345]:
# Add School_name list to a new DataFrame.
schools_df["School Names"] = school_name
schools_df["type"] = type_of_school

# Print the DataFrame.
schools_df

   School ID           School Names      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [346]:
# Convert high_schools_dict to a dataFrame
high_schools_dict = {'School ID': school_id, 'School Names':school_name, 'type':type_of_school}
pd.DataFrame(high_schools_dict)

   School ID           School Names      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [312]:
# Convert high_schools_dict to a dataFrame
high_schools_dict = pd.DataFrame()
high_schools_dict = {'School ID': school_id, 'School Names':school_name, 'type':type_of_school}
high_schools_dict

{'School ID': [0, 1, 2, 3, 4],
 'School Names': ['Huang High School',
  'Figueroa High School',
  'Shelton High School',
  'Hernandez High School',
  'Griffin High School'],
 'type': ['District', 'District', 'Charter', 'District', 'Charter']}

In [313]:
pd.DataFrame(schools_df)

   School ID           School Names      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [317]:
school_df.columns
school_df.index
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [322]:
school_id = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
High_schools = ["Huang","Figueroa",'Shelton','Hernandez','Griffin','Wilson','Cabrera','Bailey','Holden','Pena','Wright','Rodrigues','Johnson','Ford','Thomas']
types = ['District','District','Charter','District','Charter','Charter','Charter','District','Charter','Charter','Charter','District','District','District','Charter']

new_dict = {'school ID':school_id,'School names':High_schools,'types':types}
pd.DataFrame(new_dict)

    school ID School names     types
0           0        Huang  District
1           1     Figueroa  District
2           2      Shelton   Charter
3           3    Hernandez  District
4           4      Griffin   Charter
5           5       Wilson   Charter
6           6      Cabrera   Charter
7           7       Bailey  District
8           8       Holden   Charter
9           9         Pena   Charter
10         10       Wright   Charter
11         11    Rodrigues  District
12         12      Johnson  District
13         13         Ford  District
14         14       Thomas   Charter